<article>
    <figure id="myself">
        <img src="/images/myself/1991.jpg" alt="1991">
        <img src="/images/myself/2015.jpg" alt="2015">
        <figcaption>Myself, v1991 and v2015</figcaption>
    </figure>
    <div id="icantalk">
        <p><span class="headline">Having studied communication at the college of social science, Seoul National University, I have great interest in media and society.</span>
        My favorite point of view that I've acquired from this study is that characteristics of media in a certain era shapes the society and the world at that time.
        Think about an ancient Egypt, where the dominant media was stones which were barely mobile but durable; their mind was focused on permanent things like religion, and their society was an absolute monarchy.
        Now think about an ancient Rome, where the dominant media was papyrus which is highly mobile but not that durable; they could administrate large empire, facilitating conquest.<sup><a href="https://en.wikipedia.org/wiki/Harold_Innis%27s_communications_theories">Harold Innis</a></sup>
        But the most intriguing things always happened in modern era.
        For instance, the invention of printing media changed human mind forever, <sup><a href="https://en.wikipedia.org/wiki/Elizabeth_Eisenstein">Ellizabeth Eisenstein</a></sup> and recording technology itself changed the music. <sup><a href="https://books.google.co.kr/books/about/Capturing_Sound.html?id=a8IdiFp99CQC&hl=en">Mark Katz</a></sup></p>
        <p><span class="headline">Having said that, I decided to venture into a rather challenging path to me; if those things fascinate me, why can’t I be the one who actively explore possibilities of media?</span>
        The so called information revolution have taken place.
        Now people are born with seemingly innate ability to create and appreciate digital media.
        More and more people know how to read and write the world with new media just like modern people did with written words.
        Human mind, once again, have changed forever.
        How? And to where can we be at furthest?
        Among those changes, what are the things that make us happier and the world better, and what are not?
        Those questions have been my driving force when I was working in Korea and went to <a href="http://itp.nyu.edu/itp/">ITP</a> seeking more insights.</p>
        <!--<p><span class="headline">During the summer break of ITP, I was lucky to work with the world's most influencial company, Apple.</span>
        As a creative technologist in Creative Tech Team, I prototyped a new project.
        It was such an overwhelming feeling to know that millions of people would use what I'd make.
        Design decisions I make matter. Meh. Not necessary for now.
        </p>-->
        <p><span class="headline">With all these things in mind, however, my key attitude on anything is a sheer fun,</span> not only because it seems like a dominant virtue in this era, but fun is fun.
        I started to learn programming when I was ten, because I wanted to make my own game.
        I taught myself a guitar and played in a band.
        If I couldn’t find any fun doing what I’m doing now, but only a highbrow sense of mission was the thing pushing me, I’d never be this happy and good at things.</p>
        <p><span class="headline">When I have time, I’m open to take on interesting new projects;</span> I can code, design/make circuits, and not to mention that we can develop the project even more interesting.</p>
    </div>
    <div id="contact">
        <p><a href="mailto:jaewoong.here@gmail.com">jaewoong <i>dot</i> here <i>at</i> gmail <i>dot</i> com</a></p>
        <p>
            <a href="https://github.com/jaewoongh">Github</a> |
            <a href="https://twitter.com/jaewoong_h">Twitter</a> |
            <a href="https://instagram.com/jaewoong_h/">Instagram</a> |
            <a href="https://www.linkedin.com/pub/jaewoong-hwang/92/a3b/233">Linkedin</a>
        </p>
    </div>
</article>