<div id="pitch">
    <p>Hi there 👋 <br>
    My name is Jaewoong Hwang.</p>
    <p>I <a href="/works/unravel-it">code web</a>,<br>
    <a href="/works/we-balance">make games</a>,<br>
    <a href="/works/in-between">create art</a>,<br>
    and love <a href="/works/can-you-spare-me-a-dollar">experimenting things</a>.</p>
    <p>My interest lies in <a href="/works/leaf-autumn-2012">communication/media</a>,<br>
    <a href="/works/i-will-only-say-yes">technology/art as social actors</a>,<br>
    <a href="/works/final-phontasy">experimental games</a> and <a href="/works/walking-to-the-moon">gamification</a>.</p>
    <p>To put it simple,<br>
    I want to contribute to make the world better<br>
    by experimenting with media and interfaces<br>
    with new perspectives and technologies.</p>
</div>