<div id="resume">
    <a href="/pdfs/resume_may_2017.pdf">Resume (English, May 2017)</a><br>
    <a href="/pdfs/resume_may_2015_kr.pdf">이력서 (Korean, 2015. 5)</a>
    <div id="mind-the-gap">*Resume could be easily outdated. Contact me if you need it to be absolutely up to date.</div>
</div>
<div id="cv">
    <p>Jaewoong Hwang</p>
    <p>
        Seoul, South Korea<br>
        <a href="mailto:jaewoong.here@gmail.com">jaewoong <i>dot</i> here <i>at</i> gmail <i>dot</i> com</a>
    </p>
    <ul>
        <div class="title">Experience</div>
        <li>
            <div class="when">2015-</div>
            <div class="what">Software developer at <a href="http://envisible.com">Envisible</a></div>
        </li>
        <li>
            <div class="when">2014. 5-8</div>
            <div class="what">Creative technologist intern at <a href="http://apple.com">Apple Inc.</a></div>
        </li>
        <li>
            <div class="when">2012</div>
            <div class="what">Artist/programmer at <a href="http://hybe.org">HYBE</a></div>
        </li>
    </ul>
    <ul>
        <div class="title">Skills</div>
        <li><div class="what">Interaction design<br>
        Fast prototyping; software and hardware</div></li>
        <li><div class="when">Code</div>
        <div class="what">Unity3D/C#<br>
        javascript/css/html; front-end and back-end<br>
        Processing/Arduino<br>
        Python/Ruby</div></li>
        <li><div class="when">Design</div>
        <div class="what">Adobe Illustrator/Photoshop<br>
        Rhinoceros/Blender</div></li>
        <li><div class="when">Media</div>
        <div class="what">Adobe After Effects/Premiere</div></li>
    </ul>
    <ul>
        <div class="title">Education</div>
        <li>
            <div class="when">2013-2015</div>
            <div class="what">MPS in <a href="http://itp.nyu.edu/itp/">Interactive Telecommunications Program</a> from New York University</div>
        </li>
        <li>
            <div class="when">2005-2012</div>
            <div class="what">BA in Communication from <a href="http://snu.ac.kr">Seoul National University</a></div>
        </li>
    </ul>
    <ul>
        <div class="title">Research</div>
        <li>
            <div class="when">2015</div>
            <div class="what">Unravel-it, masters thesis project</div>
        </li>
        <li>
            <div class="when">2011</div>
            <div class="what"><a href="http://icr.snu.ac.kr/subpage/final_report.pdf">National Life Time Use Survey 2010</a>, Seoul National University</div>
        </li>
    </ul>
    <ul>
        <div class="title">Honors and Awards</div>
        <li>
            <div class="when">2013-2015</div>
            <div class="what">Fulbright Scholarship to pursue masters program</div>
        </li>
        <li>
            <div class="when">2013-2015</div>
            <div class="what">Tisch School of the Arts academic scholarship througout the program</div>
        </li>
    </ul>
    <ul>
        <div class="title">Exhibition</div>
        <li>
            <div class="when">2015. 5</div>
            <div class="what">ITP Spring Show, Tisch School of the Arts, NYU<br>
            <a href="https://itp.nyu.edu/shows/spring2015/unravel-it/">Unravel-it</a>, timeline based online wiki service</div>
        </li>
        <li>
            <div class="when">2015. 1</div>
            <div class="what">NYC Arcade, Microsoft, New York<br>
                <a href="https://itp.nyu.edu/shows/winter2014/final-phontasy/">Final Phontasy</a>, multiplayer cooperative game played through phone call</div>
        </li>
        <li>
            <div class="when">2014. 12</div>
            <div class="what">ITP Winter Show, Tisch School of the Arts, NYU<br>
            <a href="https://itp.nyu.edu/shows/winter2014/final-phontasy/">Final Phontasy</a>, multiplayer cooperative game played through phone call</div>
        </li>
        <li>
            <div class="when">2014. 5</div>
            <div class="what">ITP Spring Show, Tisch School of the Arts, NYU<br>
            <a href="http://itp.nyu.edu/shows/spring2014/dungeonscript/">DungeonScript</a>, custom-made programming language for making old-school dungeon crawlers</div>
        </li>
        <li>
            <div class="when">2013. 12</div>
            <div class="what">ITP Winter Show, Tisch School of the Arts, NYU<br>
            <a href="http://itp.nyu.edu/shows/winter2013/we-balance/">We:Balance</a>, local multiplayer game controlled by players' balancing motion</div>
        </li>
        <li>
            <div class="when">2012. 9</div>
            <div class="what"><a href="http://www.mediacityseoul.kr">The 7th Seoul International Media Art Biennale; Mediacity Seoul 2012</a>, Seoul Museum Of Art<br>
            In Between, interactive installation</div>
        </li>
        <li>
            <div class="when">2012. 9</div>
            <div class="what">Life: A User's Manual, <a href="https://www.seoul284.org">Culture Station 284</a>, Seoul</a><br>
                Leaf: Autum 2012, interactive installation</div>
        </li>
        <li>
            <div class="when">2012. 5</div>
            <div class="what">International Exposition Yeosu Korea 2012, SK Telecom Pavilion<br>
            Time Alive, interactive installation</div>
        </li>
        <li>
            <div class="when">2010. 9</div>
            <div class="what">Hello World 2, Saii Media Art Lab, Seoul<br>
            Good Old Days, interactive installation</div>
        </li>
    </ul>
    <ul>
        <div class="title">Activity</div>
        <li>
            <div class="when">2012. 11</div>
            <div class="what">Making Solar Powered Night Lamp workshop at 2012 No CO2 Festival, Busan, Korea</div>
        </li>
        <li>
            <div class="when">2012. 6</div>
            <div class="what">Thermal Thermal, receipt printer instant camera at The 1st Maker Faire Seoul</div>
        </li>
        <li>
            <div class="when">2009-2010</div>
            <div class="what">Video editor/event coordinator at Indie Story Webzine, Seoul</div>
        </li>
        <li>
            <div class="when">2008. 11</div>
            <div class="what">Directed/premiered short documentary film, Not Decided Yet</div>
        </li>
    </ul>
</div>