<article>
    <hgroup>
        <h1>Apple Live</h1>
        <figure class="main-figure">
            <img src="/images/apple-live/main.png" alt="Main image">
        </figure>
        <h2>Apple Live is a live blog for Apple keynote events.</h2>
    </hgroup>
    <figure class="figures">
        <img src="/images/apple-live/0_videoview.png" alt="Video view">
        <img src="/images/apple-live/1_cardview.png" alt="Live feed view">
        <img src="/images/apple-live/2_expandedview.png" alt="Expanded feed view">
        <figcaption>Screen captures of Apple Live for September 2014 Special Event.</figcaption>
    </figure>
    <p>As a creative technologist intern during the summer 2014, I prototyped Apple Live with a team of designers and developers.</p>
    <p>Prototyping included testing design layouts, experimenting with animation behavior, and validating expected user scenario. Quick prototyping was important because it greatly helped team to see which design was working and which were not. Final product were of course re-done by developers.</p>
    <p><a href="http://www.apple.com/live">Apple Live</a> first went public for September 2014 Special Event.</p>
    <h3>Credits and Contributions</h3>
    <ul>
        <li>This was done when I was doing internship at Apple Inc.</li>
    </ul>
    <footer>Summer 2014</footer>
</article>