<article>
    <hgroup>
        <h1>AR-T</h1>
        <figure class="main-figure">
            <iframe src="https://player.vimeo.com/video/195744112?color=56e0a7&title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </figure>
        <h2>AR-T is an augumented reallity app that brings T-shirt a life.</h2>
    </hgroup>
    <p>Point your camera device to the T-shirt bought from <a href="https://ar-t.funtory.house">Funtory House</a> and characters on the clothes will come to life. You can take pictures of a child playing with the character to save the image and share them on social media. Once a mundane T-shirt, now transforms into a playground of new media interaction.</p>
    <p>AR-T is about to be replaced by a all-new version of the app that integrates AR coloring book functionality.</p>
    <h3>Credits and Contributions</h3>
    <ul>
        <li>Worked on a software part as a team member of <a href="http://envisible.com">Envisible</a>.</li>
    </ul>
    <p>The app is on <a href="https://itunes.apple.com/kr/app/ar-t/id1186302412?l=en&mt=8#">App Store</a> and <a href="https://play.google.com/store/apps/details?id=com.Envisible.AR_T">Google Play</a>.
    <footer>2016</footer>
</article>