<article>
    <hgroup>
        <h1>Can you spare me a dollar?</h1>
        <figure class="main-figure">
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/9JZqM_bktI0?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </figure>
        <h2>A simple script that asks all of your Venmo friends (or even friends' friends) a dollar  💸 </h2>
    </hgroup>
    <p>I love to use Venmo; it's just so convenient. But when I downloaded and opened the app very first time, I found that it is kind of weird to see public stream of strangers' private transaction. And I could even pay or charge those strangers some money. I didn't get why Venmo wanted to be a social network-ish service, but since it did, I could use it social network-ish; do stupid thing without any reason.</p>
    <p>Source code and usage examples are on my github repo.<br>
    <a href="https://github.com/jaewoongh/can-you-spare-me-a-dollar">https://github.com/jaewoongh/can-you-spare-me-a-dollar</a></p>
    <h3>Reactions</h3>
    <figure class="figures">
        <img src="/images/can-you-spare-me-a-dollar/thumbsup.png" alt="Success">
        <img src="/images/can-you-spare-me-a-dollar/thumbsdown.png" alt="Fail">
        <img src="/images/can-you-spare-me-a-dollar/watcher.png" alt="I am being watched">
        <figcaption>Some active feedbacks from strangers asked for a dollar by me. A guy from Venmo is watching my github repo.</figcaption>
    </figure>
    <footer>2014<br>
    The project was done for the class Appropriating Interaction Technologies by <a href="http://kylemcdonald.net">Kyle McDonald</a> and <a href="http://lauren-mccarthy.com">Lauren McCarthy</a>.</footer>
</article>