<article>
    <hgroup>
        <h1>Crayon Town</h1>
        <figure class="main-figure">
            <iframe src="https://player.vimeo.com/video/188010137?color=56e0a7&title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </figure>
        <h2>In Crayon Town, cars you pick and color come to life.</h2>
    </hgroup>
    <p>Crayon Town is a game that provides children with magical experience of creation. Six different types of automobile coloring sheets are placed in front of a big screen. Pick one and color it, place the sheet on a scanner bed and ta-da! The vehicle on paper becomes a full 3D object to run freely in town. The town is bustling with cars kids created and it is fun to find and watch one's own creation.</p>
    <h3>Credits and Contributions</h3>
    <ul>
        <li>Worked on a software part as a team member of <a href="http://envisible.com">Envisible</a>.</li>
    </ul>
    <p>The project is installed in <a href="https://funtory.house">Funtory House</a>, a new media kids' playground where children can play interactive contents and learn how to code in a fun way.<br>
    <iframe src="https://player.vimeo.com/video/211429293?color=56e0a7&title=0&byline=0&portrait=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
    <footer>2016</footer>
</article>