<article>
    <hgroup>
        <h1>Final Phontasy</h1>
        <figure class="main-figure">
            <img src="/images/final-phontasy/main.png">
        </figure>
        <h2>Final Phontasy is a screen based, phone controlled multiplayer cooperative game installed in a public space.</h2>
    </hgroup>
    <p>Anybody can join the game simply by calling the number with their phone. All interaction can be done with number keys on phones, or DTMF tones. No smart phone nor data plan is required.</p>
    <figure class="figures">
        <img src="/images/final-phontasy/player_defender.png" alt="Player (defender) sprite"><br>
        <img src="/images/final-phontasy/player_healer.png" alt="Player (healer) sprite"><br>
        <img src="/images/final-phontasy/player_hunter.png" alt="Player (hunter) sprite"><br>
        <img src="/images/final-phontasy/chicken.png" alt="Evil chicken sprite">
        <figcaption>I love to create 8-bit style sprites.</figcaption>
    </figure>
    <p>The game has classic 8-bit RPG battle mechanism and aesthetics. Up to four players fight together as a party against giant evil Chicken. Despite of simple mechanism, the game by design highly encourages people to cooperate. You never win with mindless attacks. Fun part is that, because it is meant to be installed in a public space, players need to communicate with strangers to win the game.</p>
    <p>The game has level system. Each players' level data is stored in database. The more you win, the stronger you become. If you get strong enough, you'll have an honor to be on the leaderboard. Players also get text messages right after the fight, summarizing battle reports and showing personal character stats.</p>
    <p>Final Phontasy is no longer happening at this point, but you can check leaderboard for past events.<br>
    <a href="http://finalphontasy.com">http://finalphontasy.com</a><br>
    Please note that the web page is designed for mobile devices.</p>
    <p>Source code is available on my github repo.<br>
    Properly set Asterisk server is required to run it fully though.<br>
    <a href="https://github.com/jaewoongh/final-phontasy">https://github.com/jaewoongh/final-phontasy</a></p>
    <h3>ITP Winter Show 2014</h3>
    <figure class="figures">
        <img src="/images/final-phontasy/wintershow0.jpg" alt="Winter Show">
        <img src="/images/final-phontasy/wintershow1.png" alt="Winter Show">
        <img src="/images/final-phontasy/wintershow2.png" alt="Winter Show">
        <img src="/images/final-phontasy/wintershow3.png" alt="Winter Show">
        <figcaption>Final Phontasy was showcased at ITP Winter Show 2014.</figcaption>
    </figure>
    <h3>The NYC Arcade 2015</h3>
    <figure class="figures">
        <img src="/images/final-phontasy/nycarcade0.jpg" alt="NYC Arcade">
        <img src="/images/final-phontasy/nycarcade1.jpg" alt="NYC Arcade">
        <img src="/images/final-phontasy/nycarcade2.jpg" alt="NYC Arcade">
        <img src="/images/final-phontasy/nycarcade3.jpg" alt="NYC Arcade">
        <figcaption>Final Phontasy was invited to The NYC Arcade 2015.</figcaption>
    </figure>
    <footer>2014, 2015<br>
    Final project for the class Redial by <a href="http://www.chris3000.com">Chris Kairalla</a>.</footer>
</article>