<article>
    <hgroup>
        <h1>Flying Bear</h1>
        <figure class="main-figure">
            <iframe src="https://player.vimeo.com/video/188009665?color=56e0a7&title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </figure>
        <h2>Ride fluffy bear and fly the dreamland.</h2>
    </hgroup>
    <p>Flying Bear is a racing game that children play on the back of big bear friend. By tilting the bear left and right, a kid can control game character's movement. Collecting shiny star fragments boosts the speed, while crashing into black obstacle does the opposite.</p>
    <h3>Credits and Contributions</h3>
    <ul>
        <li>Worked on a software part as a team member of <a href="http://envisible.com">Envisible</a>.</li>
    </ul>
    <p>The project is installed in <a href="https://funtory.house">Funtory House</a>, a new media kids' playground where children can play interactive contents and learn how to code in a fun way.</p>
    <iframe src="https://player.vimeo.com/video/211429293?color=56e0a7&title=0&byline=0&portrait=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <footer>2016</footer>
</article>