<article>
    <hgroup>
        <h1>I WILL (only) SAY YES WHATEVER YOU SAY</h1>
        <figure class="main-figure">
            <iframe src="https://player.vimeo.com/video/110393676?color=56e0a7&title=0&byline=0&portrait=0&autoplay=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </figure>
        <h2>Sometimes, you might just want to hear "yes."</h2>
    </hgroup>
    <p>I WILL (only) SAY YES WHATEVER YOU SAY is a simple Asterisk application that you can call. Whatever you say, the voice behind the phone line waits until you finish talking, and just say "yes." Technically speaking, it waits for more than certain length of silence after certain length of noise, and play the sound. To make it not too obviously machine, I recorded several versions of "yes" to playback randomly.</p>
    <p>The number is no longer for this project, so please don't try it.</p>
    <figure class="figures">
        <img src="/images/i-will-only-say-yes/flyer0.jpg" alt="Paper on the wall">
        <img src="/images/i-will-only-say-yes/flyer1.jpg" alt="Paper on the wall">
        <img src="/images/i-will-only-say-yes/flyer2.jpg" alt="Paper on the wall">
        <img src="/images/i-will-only-say-yes/flyer3.jpg" alt="Paper on the wall">
        <figcaption>Out of more than 10, only a few flyers survived over night.</figcaption>
    </figure>
    <h3>Response</h3>
    <figure class="video">
        <iframe src="https://player.vimeo.com/video/133410958?color=56e0a7&title=0&byline=0&portrait=0&autoplay=0" width="170" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <figcaption>I accidentally lost all of my recordings 😢  This is only one left (the first recording) and it is pathetic.</figcaption>
    </figure>
    <p>I got more than dozens of calls in a few days, and all were recorded (is it legal?) Most of the response was like "curiosity - brief fun - quick realization that it's not actual human - hang up." Still, many people tried to keep talking mostly to have fun. There was one recording though, that the guy kept saying things that I don't understand for a few minutes.</p>
    <footer>2014<br>
    From the class Appropriating Interaction Technologies by <a href="http://kylemcdonald.net">Kyle McDonald</a> and <a href="http://lauren-mccarthy.com">Lauren McCarthy</a>.</footer>
</article>