<article>
    <hgroup>
        <h1>In Between</h1>
        <figure class="main-figure">
            <img src="/images/in-between/main.jpg" alt="Main image">
        </figure>
        <h2>In Between is a media installation to interact with the audience in a theatrical situation.</h2>
    </hgroup>
    <p>Footsteps are wandering within confined space continuously, making creaking sound on a wooden floor. If the audience comes closer to the installation, fictional footsteps of an invisible character stop wandering and start to head toward the audience, then stay still right in front for a while. No physical interaction, only silence between the audience and footsteps. In a few seconds, footsteps turn around and start to wander again.</p>
    <p>In order to understand and complete the story of this fringe theatre, the audience are requested to engage their inner interaction. Minorities, strangers, those on the periphery, or the audience her/himself. With these imaginable entities filled by the audience, this installation would generate many different stories.</p>
    <h3>Media City Seoul 2012</h3>
    <figure class="figures">
        <iframe src="https://player.vimeo.com/video/83478490?color=56e0a7&title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br>
        <img src="/images/in-between/moa0.jpg" alt="Museum Of Art">
        <img src="/images/in-between/moa1.jpg" alt="Museum Of Art">
        <img src="/images/in-between/moa2.jpg" alt="Museum Of Art">
        <img src="/images/in-between/moa3.jpg" alt="Museum Of Art">
        <figcaption>Exhibited in Media City Seoul 2012 - The 7th Seoul International Media Art Biennale.</figcaption>
    </figure>
    <h3>Credits and Contribution</h3>
    <ul>
        <li>Changmin Han of <a href="http://hybe.org">HYBE</a>.<br>
        Concept development, fabrication, installation.</li>
        <li>Me of <a href="http://hybe.org">HYBE</a>.<br>
        Technical solution; body tracking with Kinect connected to projection of dynamic footstep animation.<br>
        Making footstep look real via custom made algorithm was so much intriguing.</li>
    </ul>
    <footer>2012</footer>
</article>