<article>
    <hgroup>
        <h1>Leaf: Autumn 2012</h1>
        <figure class="main-figure">
            <iframe src="https://player.vimeo.com/video/51987311?color=56e0a7&title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <h2>Leaf: Autumn 2012 is an interactive media sculpture designed in mind of old ways of communication.</h2>
        </figure>
    </hgroup>
    <p>The development of communication technology has made it very convenient to overcome the limitation of time and space. With mobile phones, we can now simply send messages to each other. Such a way of communication is a conquest over the materialitiy and the space-oriented characteristic of old communication media such as letters, post boxes and bulletin boards – ordinary objects in a decades ago. Meanwhile it is also responsible for producing the quantity of light, meaningless and immaterial messages by detriment the “quality of communication” or the tactility of media and emotions therewith.</p>
    <p>Such a sense of missing was a starting point of this work. In the installation, a space is formed around a tree and a printer at the end of each branch drops out messages left by audiences. One can sprout message by writing it or feel a delicate sense of communication by picking up one of the messages by others. In this way Leaf would like not only to generate interaction between the work and its audiences but to provide an experience of rapport among them.</p>
    <h3>Development and Exhibition</h3>
    <figure class="figures">
        <img src="/images/leaf-autumn-2012/00_test.jpg" alt="Testing hardware">
        <img src="/images/leaf-autumn-2012/01_circuit.jpg" alt="Custom circuit board">
        <img src="/images/leaf-autumn-2012/exhib_00.jpg" alt="Exhibited at Culture Station 284">
        <img src="/images/leaf-autumn-2012/exhib_01.jpg" alt="Exhibited at Culture Station 284">
        <img src="/images/leaf-autumn-2012/exhib_02.jpg" alt="Exhibited at Culture Station 284">
        <img src="/images/leaf-autumn-2012/exhib_03.jpg" alt="Exhibited at Culture Station 284">
        <img src="/images/leaf-autumn-2012/exhib_04.jpg" alt="Exhibited at Culture Station 284">
        <img src="/images/leaf-autumn-2012/exhib_05.jpg" alt="Exhibited at Culture Station 284">
        <img src="/images/leaf-autumn-2012/exhib_06.jpg" alt="Exhibited at Culture Station 284">
        <img src="/images/leaf-autumn-2012/exhib_07.jpg" alt="Exhibited at Culture Station 284">
        <img src="/images/leaf-autumn-2012/exhib_08.jpg" alt="Exhibited at Culture Station 284">
        <figcaption>Leaf was installed at Culture Station 284, Seoul, participating the exhibition Life: A User's Manual.</figcaption>
    </figure>
    <p>Messages collected during the exhibition can be seen <a href="http://osf.kr">here</a>.</p>
    <h3>Related Publication</h3>
    <ul>
        <li>Reviewed by <a href="http://thecreatorsproject.vice.com/blog/a-tree-that-prints-little-messages-on-paper-that-fall-like-autumn-leaves">The Creators Project</a>.</li>
        <li>Aired on SBS <a href="http://news.sbs.co.kr/news/endPage.do?news_id=N1001443228&plink=OLDURL">영상토크</a> (Korean)</li>
    </ul>
    <h3>Credits and Contribution</h3>
    <ul>
        <li>Changmin Han of <a href="http://hybe.org">HYBE</a>, design advisor.</li>
        <li>Sunwoong Ryu of <a href="http://hybe.org">HYBE</a>, technical advisor.</li>
        <li>Wan Suh of <a href="http://hybe.org">HYBE</a> and <a href="http://osf.kr">OSF</a>.<br>
        Sculpture fabracation, installation.</li>
        <li><a href="http://kmyh.kr">Yeongho Kim</a> of <a href="http://hybe.org">HYBE</a> and <a href="http://osf.kr">OSF</a>.<br>
        Interface design, web development, installation.</li>
        <li>Me of <a href="http://hybe.org">HYBE</a> and <a href="http://osf.kr">OSF</a>.<br>
        Circuit design, hardware/software development.<br>
        All of us thinks "I am the one who came up with the initial idea."</li>
    </ul>
    <footer>2012</footer>
</article>