<article>
    <hgroup>
        <h1>Magic Window</h1>
        <figure class="main-figure">
            <iframe src="https://player.vimeo.com/video/188009662?color=56e0a7&title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </figure>
        <h2>Throw balls at Magic Window to rescue mammoth friend from snow monster, splat paint against cleaning robot, or break blocks of food.</h2>
    </hgroup>
    <p>Magic window is a set of games that can be installed on a wall near ball pit. Sensors detect any hit on screen area to make the game interactive on physical level.</p>
    <p>
        Three stages of different objectives can be played:
        <ol>
            <li>Ice level<br>
            Snow monster sealed mammoth friend with ice magic.<br>
            Hit ice wall to break free the mammoth, but don't forget to check the monster because it'll disrupt you with evil magic.</li>
            <li>Paint level<br>
            A cleaning robot keeps the window clean but kids want to make a mess.<br>
            Throw balls to pop paint splats on the window faster than the robot cleaning it.</li>
            <li>Kitchen level<br>
            All sorts of foods are having fun in the kitchen.<br>
            Break open the foods and see how they look inside.<br>
            Hit special items to slow time, make big explosion and more.</li>
        </ol>
    </p>
    <h3>Credits and Contributions</h3>
    <ul>
        <li>Worked on a software part as a team member of <a href="http://envisible.com">Envisible</a>.</li>
    </ul>
    <p>The project is installed in <a href="https://funtory.house">Funtory House</a>, a new media kids' playground where children can play interactive contents and learn how to code in a fun way.</p>
    <iframe src="https://player.vimeo.com/video/211429293?color=56e0a7&title=0&byline=0&portrait=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <footer>2016</footer>
</article>