<article>
    <hgroup>
        <h1>Unravel-it</h1>
        <figure class="main-figure">
            <img src="/images/unravel-it/main.png" alt="Main image">
        </figure>
        <h2>Unravel-it, a timeline based wiki, allows you to unravel the evolution of any topic, historical or cultural, and see all the critical events from its beginning to its present state.</h2>
    </hgroup>
    <figure class="figures">
        <img src="/images/unravel-it/0_coverpage.png" alt="Cover page">
        <img src="/images/unravel-it/1_singleview.png" alt="Single view">
        <img src="/images/unravel-it/2_comparisonview.png" alt="Comparison view">
        <img src="/images/unravel-it/3_edit.png" alt="Editing tidbit">
        <figcaption>Screen captures of alpha version.</figcaption>
    </figure>
    <p>When a scandal hits the papers, there is no easy way to see where it all began and how it came to light: e.g. the George Washington Bridge or Brian Williams scandal. You might also want to follow your favorite sports team's history or a biography of an indie band, but often times, it is not easy to find thorough but concise information.</p>
    <p>Unravel-it is a timeline based wiki. You can "unravel" any subject, whether it's historical or cultural, you can see all the events that make up that topic and compare it to various other subjects.</p>
    <p>Like any wiki, it is a collaboratively editing system. Anybody can contribute to make the timeline. Please visit and join the community. It is currently online as a beta service.</p>
    <p>Unravel-it is currently online as an alpha version. You can try it if you will.<br>
    <a href="http://unravel-it.wiki">http://unravel-it.wiki</a><br>
    Promotion and actual service will begin once beta build is ready. (TBD)</p>
    <h3>Thesis Presentation</h3>
    <figure class="video">
        <iframe src="https://player.vimeo.com/video/133336996?color=56e0a7&title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <figcaption>Masters thesis presentation, ITP. May 15, 2015.</figcaption>
    </figure>
    <h3>Early Concept GIFs</h3>
    <figure class="figures">
        <img src="/images/unravel-it/0_Mainpage_gamergate.gif" alt="GIF #1">
        <img src="/images/unravel-it/1_Gamergate_scroll.gif" alt="GIF #2">
        <img src="/images/unravel-it/2_Juxtasearch.gif" alt="GIF #3">
        <img src="/images/unravel-it/3_Juxtaposition.gif" alt="GIF #4">
        <figcaption>GIFs quickly created to show key features before actual production phase.</figcaption>
    </figure>
    <h3>Related Publication</h3>
    <ul>
        <li><a href="https://itunes.apple.com/us/book/to-remember-forget-memory/id923896070?mt=11">To Remember And Forget: Memory and Machine</a> (iBook) by Jaewoong Hwang<br>
        First iteration of concept development is documented in this iBook, which itself is a project for the class of the same title.</li>
    </ul>
    <h3>Credits and Contribution</h3>
    <ul>
        <li><a href="http://itp.nyu.edu/itp/people/people.php?id=1807&group=Faculty">Nancy Hechinger</a><br>
        Wonderful thesis advisor; named the project and guided me.</li>
        <li><a href="http://hayleejung.com">Haylee Hongeun Jung</a><br>
        Concept development, logo design and general visual design advice.</li>
        <li>Me<br>
        Everything else including concept work, all development and interaction designs.</li>
    </ul>
    <footer>2015 ~ current</footer>
</article>