<article>
    <hgroup>
        <h1>Walking to the Moon</h1>
        <figure class="main-figure">
            <img src="/images/walking-to-the-moon/main.png" alt="Main image">
        </figure>
        <h2>Walking to the Moon is a mobile game that turns ordinary walking experience into a game by bringing fun to motivate behavior change.</h2>
    </hgroup>
    <p>Your walking step data turns into a game asset, which is required to keep playing the game. The more you walk, the longer you can play the game. As a result, you would be healthier while playing the game. It replaces wait-or-spend-money game mechanic of many mobile free games into walk-or-just-walk strategy.</p>
    <p>Players' walking data is collected via smartphone. Game distance from earth to moon is not the same as physical distance to the moon, thus making the goal viable. Meanwhile, collective step data of all players around the world is gathered and mapped into actual roadmap to the moon. You walk more to enjoy the game better, but at the same time you're contributing to humans as a whole reaching the moon.</p>
    <h3>Concept Video</h3>
    <figure class="video">
        <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/GX_IPuXuOZc?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </figure>
    <h3>Gameplay Prototype</h3>
    <figure class="video">
        <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/GGPBCt86N7w?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <figcaption>Final prototype explained.</figcaption>
    </figure>
    <figure class="figures">
        <img src="/images/walking-to-the-moon/proto_1st.gif" alt="Prototype v1">
        <img src="/images/walking-to-the-moon/proto_2nd.gif" alt="Prototype v2">
        <figcaption>Early prototypes.</figcaption>
    </figure>
    <h3>Concepts</h3>
    <figure class="figures">
        <img src="/images/walking-to-the-moon/concept_0.jpg" alt="Concept">
        <img src="/images/walking-to-the-moon/concept_1.png" alt="Concept">
        <img src="/images/walking-to-the-moon/concept_2.png" alt="Concept">
        <img src="/images/walking-to-the-moon/concept_3.png" alt="Concept">
        <img src="/images/walking-to-the-moon/concept_4.png" alt="Concept">
        <img src="/images/walking-to-the-moon/concept_5.png" alt="Concept">
        <img src="/images/walking-to-the-moon/concept_6.png" alt="Concept">
        <img src="/images/walking-to-the-moon/concept_7.png" alt="Concept">
    </figure>
    <h3>Credits and Contribution</h3>
    <ul>
        <li><a href="http://www.idesignforhumanity.com">Ilwon Yoon</a><br>
        Concept development, UX/interaction design, back-end data integration.<br>
        The project is started as his thesis project.</li>
        <li><a href="http://woonyungchoi.com">Woonyung Choi</a><br>
        Lovely illustration.</li>
        <li>Me<br>
        Concept development, game design, front-end prototype.</li>
    </ul>
    <footer>2014</footer>
</article>