<article>
    <hgroup>
        <h1>We:Balance</h1>
        <figure class="main-figure">
            <iframe src="https://player.vimeo.com/video/111950397?color=56e0a7&title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </figure>
        <h2>We:Balance is a local multiplayer game that requires people a sense of balance, cooperative attitude, and competing spirit.</h2>
    </hgroup>
    <p>The game implements Nintendo Wii Balance Board as controllers. Players need to step on the boards and try to move their center of weight to control game characters. Wii Balance Board contains four pressure sensors on the bottom and measures the user's center of balance.</p>
    <figure class="video">
        <iframe src="https://player.vimeo.com/video/112007332?color=56e0a7&title=0&byline=0&portrait=0&autoplay=1&loop=1" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <figcaption>Quick demonstration of how the game mechanics work. Each player controls one of the colored cubes on a surface.</figcaption>
    </figure>
    <p>Theme of the game was influenced by the ingenious animation <a href="https://www.youtube.com/watch?v=vZiEt5RUYSk">Balance</a> (Wolfgang y Christoph Lauenstein, 1989). Players are on tilting floor and need to keep balance to survive, or not to let others fall off, or just to keep the good balance of their own world.</p>
    <figure class="figures">
        <img src="/images/we-balance/level1_empty.png" alt="Level 1: Empty space">
        <img src="/images/we-balance/level2_home.png" alt="Level 2: Home">
        <img src="/images/we-balance/level3_office.png" alt="Level 3: Office">
        <img src="/images/we-balance/level4_city.png" alt="Level 1: City">
        <figcaption>Level design of We:Balance.</figcaption>
    </figure>
    <p>The game mechanism is simple, but it does tell story with elaborating level structure. The first level is just an empty plane that tilts. As the level goes further, however, it starts to represent some environments we face everyday; home, office, and the entire city. This structure makes players to feel engaged into their real life as a stage while playing the game together.</p>
    <h3>ITP Winter Show 2013</h3>
    <figure class="figures">
        <img src="/images/we-balance/wintershow00.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow01.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow02.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow03.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow04.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow05.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow06.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow07.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow08.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow09.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow10.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow11.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow12.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow13.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow14.jpg" alt="Winter Show">
        <img src="/images/we-balance/wintershow15.jpg" alt="Winter Show">
        <figcaption>People having so much fun at ITP Winter Show 2013.</figcaption>
    </figure>
    <h3>Playtest @EYEBEAM</h3>
    <figure class="figures">
        <img src="/images/we-balance/0_floor.jpeg" alt="Test at ITP">
        <img src="/images/we-balance/1_eyebeam_setup.jpeg" alt="Setting up at EYEBEAM">
        <img src="/images/we-balance/2_eyebeam_guys.jpeg" alt="Guys playtesting">
        <img src="/images/we-balance/3_eyebeam_dadnson.png" alt="Dad and son playtesting">
        <figcaption>We participated in <a href="https://eyebeam.org">EYEBEAM</a>'s Playtest, organized by <a href="http://kahoabe.net">Kaho Abe</a>.</figcaption>
    </figure>
    <h3>Credits and Contribution</h3>
    <ul>
        <li><a href="http://www.idesignforhumanity.com">Ilwon Yoon</a><br>
        Brought initial idea. Developed main menu and calibration screen.<br>
        We had so many intense meetings that we'd fully reset the concept a few times.</li>
        <li>Me<br>
        Developed game mechanics. Coded main game physics.<br>
        But really, we've done almost everything together.</li>
    </ul>
    <footer>2013<br>
    Final project for the class Procedural Design in Abstract Gameplay by <a href="http://phoenixperry.com">Phoenix Perry</a>.</footer>
</article>